body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  background-color: slategrey;
}

#web-container {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  margin-left: 10vw;
  margin-right: 10vw;
}
#main-header {
  z-index: 0;
  padding: 20px;
  border-radius: 50px;
  background-color: purple;
}
main {
  align-self: center;
}
main section {
  padding: 20px;
  margin: 10px;
  box-shadow: 1px 2px 1px 1px black;
  align-self: center;
  text-align: center;
  border: 1px solid black;
  background-color: whitesmoke;
  border-radius: 50px;
}

#skill-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: none;
  text-decoration: none;
}
#skill-list ul {
  list-style-type: none;
}
